<%= render 'admin/shared/heading', name: t('admin.edit_translator') %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <%= render('admin/shared/form',
               url: admin_translator_path(@translator, locale: I18n.locale),
               method: :put,
               record: @translator,
               back_url: admin_translators_path(locale: I18n.locale),
               delete_url: ->(record){ admin_translator_path(record) }
              ) %>

    <%= render 'admin/shared/confirm_delete_modal', modal_title: t('delete_translator_modal.title'), modal_text: t('delete_translator_modal.text') %>
  </div>
</main>
