<div class="my-16 h-full w-screen-2xl flex grid grid-flow-row space-y-4 items-center justify-center">
  <div class="flex justify-center">
    <%= render 'shared/logo_lg' %>
  </div>
  <div class="flex justify-center">
    <%= render 'shared/search_bar' %>
  </div>
</div>
