<div data-controller="search-highlight" data-search-highlight-full-word-match-value="true">
  <div class="sticky top-40 z-20 max-w-screen-2xl mx-auto py-4 flex grid grid-flow-col justify-start space-x-8 bg-gray-100">
    <div data-search-highlight-target="searchbar" class="inline-flex">
      <%= render 'shared/search_bar' %>
    </div>
    <div class="inline-flex text-gray-400 text-sm items-center">
      <%= @text_block_pairs.total_count %> შედეგი
    </div>
  </div>

  <div data-search-highlight-target="body" class="max-w-screen-2xl mx-auto flex grid grid-flow-row space-y-3">
    <%= render 'shared/search_results', text_block_pairs: @text_block_pairs %>
  </div>
  <div class="max-w-screen-2xl mx-auto flex items-center justify-between py-3">
    <%= render 'shared/paging', records: @text_block_pairs, url_method: -> (**params){ search_text_blocks_path(**params) }, paging_params: { query: params[:query] } %>
  </div>
</div>
