<%= render 'admin/shared/heading', name: 'გამომცემლობის რედაქტირება' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <%= render('admin/shared/form',
               url: admin_publishing_path,
               method: :put,
               record: @publishing,
               back_url: admin_publishings_path,
               delete_url: ->(record){ admin_publishing_path(record) }
              ) %>

    <%= render 'admin/shared/confirm_delete_modal', modal_title: 'გსურთ გამომცემლობის წაშლა?', modal_text: 'ეს გამომცემლობა წაიშლება სრულად' %>
  </div>
<main>
