<%= render 'admin/shared/heading', name: t('admin.genres') %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">
    <%= render('admin/shared/form',
               url: admin_genres_path(locale: I18n.locale),
               method: :post,
               record: @genre,
               back_url: admin_genres_path(locale: I18n.locale)
              ) %>
  </div>
</main>
