<%= render 'admin/shared/heading', name: 'ქვეკორპუსის რედაქტირება' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">

    <% crumbs = [] %>
    <% crumbs << { name: 'ქვეკორპუსები', url: admin_supergroups_path } %>
    <% crumbs << { name: @supergroup.name_ka, url: admin_groups_path(supergroup_id: @supergroup.id) } %>
    <% crumbs << { name: 'რედაქტირება', url: edit_admin_supergroup_path(supergroup_id: @supergroup.id) } %>

    <%= render 'admin/shared/breadcrumbs', crumbs: crumbs %>

    <%= render 'admin/supergroups/shared/form', url: admin_supergroup_path, method: :put %>
  </div>
<main>
