<%= render 'admin/shared/heading', name: 'ქვეკორპუსის დამატება' %>

<main>
  <div class="mx-auto max-w-screen-2xl sm:px-6 lg:px-8">

    <%= render 'admin/supergroups/shared/form', url: admin_supergroups_path, method: :post %>
  </div>
<main>
