<%= render partial: "admin/shared/header" %>

<h1>
  <% if @group.supergroup %>
    <%= link_to @group.supergroup.name_ka, admin_groups_path(supergroup_id: @group.supergroup.id) %> >
  <% end %>
  <%= link_to 'ჯგუფები', admin_groups_path(supergroup_id: @group.supergroup&.id) %> > ჯგუფის დამატება
</h1>

<%= render partial: "admin/groups/shared/form" %>
