<p>გამარჯობა <%= @resource.email %>!</p>

<p>ვიღაცამ მოითხოვა ბმული შენი პაროლის შესაცვლელად. თუ შენ იყავი, გამოიყენებ ბმული ქვემოთ.</p>

<p><%= link_to 'შეცვალე პაროლი', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>თუ შენ არ მოგითხოვია, უბრალოდ ყურადღება არ მიაქციო ამ იმეილს.</p>
<p>შენი პაროლი არ შეიცვლება, სანამ ამ ბმულზე არ შეხვალ.</p>
