<div>
  <%= link_to 'ქვეკორპუსები', admin_supergroups_path %>
</div>
<div>
  <%= link_to 'ჯგუფები', admin_groups_path %>
</div>
<div>
  <%= link_to 'კრებულები', admin_collections_path %>
</div>
<div>
  <%= link_to 'ტექსტური წყვილები', admin_text_blocks_path %>
</div>
